# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

go.work
go.work.sum

# Dependencies
/vendor/

# IDEs and Editors
.idea/
.vscode/

# Go specific
*.gc
*.o

storage/

.env
/secrets

tmp/

DS_Store