# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

go.work
go.work.sum

# Dependencies
/vendor/

# IDEs and Editors
.idea/
.vscode/

# Go specific
*.gc
*.o

storage/

# Config files - ignore all except example.local.yaml
config/**
!config/example.local.yaml

.env

DS_Store